@import '../../styles/main';

.board {
  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 24px;
  }

  &__id {
    font-size: 32px;
    font-weight: 500;
    line-height: 48px;

    display: flex;
    align-items: center;
    gap: 12px;
  }

  &__button-copy {
    background-color: inherit;
  }

  &__copy {
    background-image: url('../../assets/copy.svg');

    @include square;

    transition: all ease 0.1s;

    &:hover {
      background-image: url('../../assets/copy-hover.svg');
    }
  }

  &__button-trash {
    position: relative;
    background-color: inherit;
    padding-block: 8px;
    display: flex;
    align-items: center;
    gap: 4px;

    @extend %button;

    color: $main-button-color;
  }
}

.columns {
  display: flex;
  gap: 20px;
}
