@import '../../styles/main';

.column {
  position: relative;
  width: 400px;
  padding: 20px;
  border-radius: 8px;
  height: max-content;
  display: flex;
  flex-direction: column;
  gap: 20px;

  &__isDragging {
    height: 40px;
  }

  &--dragging {
    margin-bottom: 20px;
  }

  &--todo {
    background-color: $bg-todo-color;
  }

  &--progress {
    background-color: $bg-in-progress-color;
  }

  &--done {
    background-color: $bg-done-color;
  }

  &__text-container {
    width: max-content;
    padding-inline: 8px;
    border-radius: 4px;

    &--todo {
      background-color: $text-todo-color;
    }

    &--progress {
     background-color: $text-in-progress-color;
    }

    &--done {
      background-color: $text-done-color;
    }
  }

  &__button {
    background-color: inherit;

    @extend %button;

    color: $main-button-color;

    border-bottom: 1px solid transparent;

    @include hover(border-color, $main-button-color);
  }

  &__cards {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.form-add-new {
  background-color: $white-color;
  border-radius: 4px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;

  &__buttons {
    display: flex;
    justify-content: flex-end;
    gap: 16px;
  }
}
