%button {
  font-family: Poppins, sans-serif;
  color: $white-color;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

%bold {
  font-family: Poppins, sans-serif;
  color: $main-button-color;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}
