$main-button-color: #313237;
$white-color: #fff;
$border-color: #c8cdde;
$bg-todo-color: #f3f5fa;
$bg-in-progress-color: #f3f8fa;
$bg-done-color: #f8faf7;
$text-todo-color: #dbdfeb;
$text-in-progress-color: #d0eaf8;
$text-done-color: #dbeddb;
