@import '../../styles/main';

.card {
  display: flex;
  flex-direction: column;
  gap: 12px;
  background-color: $white-color;
  border-radius: 4px;

  padding: 16px;
  cursor: pointer;

  // @include hover(background-color, #f9fafc);

  &--edit {
    cursor: default;
  }

  &--edit:hover {
    background-color: $white-color;
  }

  &--dragging {
    background-color: #e8ebf6;
    opacity: 45%;
  }

  &__title {
    max-width: 256px;

    overflow-x: hidden;
  }

  &__top {
    display: flex;

    justify-content: space-between;
    align-items: flex-start;
    gap: 16px;
  }

  &__buttons {
    display: flex;
    gap: 8px;
  }

  &__button {
    background-color: inherit;
  }

  &__description {
    @extend %description;
  }
}
