@import './styles/main';

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  padding-inline: 20px;

  &__container {
    width: 100%;
    max-width: 1240px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    padding-block: 40px;
    gap: 44px;
  }
}

.search-form {
  display: flex;
  gap: 16px;

  &__input {
    font-family: Poppins, sans-serif;
    padding: 12px 20px;
    outline: none;
    flex-grow: 1;

    font-size: 16px;
    font-weight: 400;
    line-height: 24px;

    border: 1px solid $border-color;
    border-radius: 4px;

    transition: all ease 0.3s;

    &::placeholder {
      color: $border-color;
    }

    &:hover {
      border-color: #45464d;
    }

    &:focus {
      border-color: #25272c;
    }
  }

  &__query {
    display: flex;
    position: relative;
    flex-direction: column;
    flex-grow: 1;
  }

  &__error {
    position: absolute;
    color: red;
    top: 110%;
  }

  &__button {
    min-width: 138px;
    color: $main-button-color;
    border: 1px solid $main-button-color;
    border-radius: 6px;
    background-color: $white-color;

    @extend %button;

    padding: 12px 20px;

    transition: all ease 0.3s;

    &:hover {
      background-color: #f6f6f6;
    }
  }
}

.loading {
  border-radius: 50%;
  margin: auto;
  width: 16px;
  height: 16px;
  border: 0.2em solid #ddd;
  border-left-color: #000;
  animation: load8 1.2s infinite linear;
}
